# Note: Use prefix APP_ for backend and APP_FRONTEND (or VITE_ - by default) for frontend environment variables

# The environment that the application is running in
APP_ENVIRONMENT=

### START DATABASE CONFIGURATION ###
# Database connection URL
APP_DATABASE_URL=

# If not using a full DATABASE_URL, individual parameters must be set
APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_NAME=
APP_DATABASE_USER=
APP_DATABASE_PASSWORD=
APP_DATABASE_ROOT_PASSWORD=
### END DATABASE CONFIGURATION ###

### START APPLICATION CONFIGURATION ###

# The port the Frontend Application will run on (default: 3001)
APP_FRONTEND_PORT=

# The port the Backend Application will run on (default: 3000)
APP_BACKEND_PORT=

# The URL of the Backend Application. The Frontend will reference this URL for API calls. (default: http://localhost:3000)
APP_BACKEND_URL=

# To disable or enable Swagger documentation (default: enabled)
APP_SWAGGER_ENABLED=
### END APPLICATION CONFIGURATION ###